.profile-image {
  position: relative;
  align-items: center;
  background-color: $color-grey-lighter;
  border-radius: 25px;
  //abinash chage
  padding: 0px 25px !important;
  .left {
    .image-container {
      width: 145px;
      margin-right: 20px;
      height: 145px;
      img {
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 1;
        object-position: center;
        cursor: pointer;
      }
    }
  }
  .right {
    flex-grow: 1;
    h4 {
      font-size: 16px;
      //abinash chage
      font-weight: 600;
    }
    span {
      display: block;
      border-bottom: 1px solid $color-grey-dark;
      margin-bottom: 20px;
    }
    h4 {
      // margin-left: 15px;
    }
    .button-container {
      display: flex;
      justify-content: flex-start;
      margin-top: 10px;
    }
  }
  input[type="file"] {
    display: none;
  }
  .change-overlay {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 0.3s ease;
  }
  &:hover {
    .change-overlay {
      bottom: 3px;
    }
  }
}

.affix-card {
  .links-container {
    label {
      width: 100%;
      .input-group {
        align-items: center;
        .left {
          flex-grow: 1;
        }
        .right {
          margin-left: 10px;
          .input-group {
            align-items: center;
          }
        }
      }
    }
  }
}
